body {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.grid-container {
    max-width: 900px;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

.banner {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #28a745
}

.game-container {
    grid-column: 1 / -1;
    display:flex;
    justify-content: space-evenly;
}

.playerChoice{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
} 

.choiceButton {
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
}

.scorecard {
    grid-column: -3 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;
    margin: 1em;

}
.scorebox {
    border: 4px solid #5b5f68;
    border-radius: 8px;
    width: 70px;
    height: 70px;
    text-align: center;
}

#playerScore,
#computerScore {
    display:flex;
    flex-direction: row;
    gap: 5px;

}

.messages {
    margin-left: 2em;
    text-align: left;
    grid-row-start: 3;
    grid-column: 1 / -1;
}