body {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
}

.grid-container {
    max-width: 900px;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        'header header header header'
        'menu menu menu menu'
        'score score score score'
        'choices messages messages messages';
    grid-auto-rows: 1fr;
}

.banner {
    grid-area: header;
    background-image: url(images/banner.png);
    height: 150px;
    background-position-x: center;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.menu {
    grid-area: menu;
}

.score {
    grid-area: score;
    display: flex;
    justify-content: center;
    font-size: 48px;
    gap: 0.5em;
    margin: 0.5em;
}

.playerChoice {
    grid-area: choices;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 15px;
    gap: 5px;
} 

.choiceButton:hover:not(.disabled) {
    background-color: #667eea;
    color: white;
}

.choiceButton {
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    text-align: right;
    padding-left: 10px;
    white-space: nowrap;
}

.choiceButton span {
    font-style: normal;
}

.messages {
    grid-area: messages;
    text-align: left;
    border: 4px solid #5e5e5e;
    border-radius: 5px;
}

#output {
    padding-left: 20px; 
    max-height: 200px;
    overflow-y: scroll;
}

.bottom-btn {
    background: #667eea;
    color: white;
    cursor: pointer;
    font-size: 1em;
    min-width: 145px;
    padding: 8px 30px;
    border: none;
    border-radius: 25px;
    margin: 20px 10px 20px 0px;
}

.buttons-container {
    display:flex;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

@keyframes modal-in {
    from {
        top: -25vh;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes modal-out {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: -25vh;
        opacity: 0;
    }
}

.rules-text {
    margin: 25vh auto;
    background-color: #eee;
    border: 4px solid black;
    border-radius: 10px;
    width: fit-content;
    text-align: left;
}

.rules-text.show {
    animation-name: modal-in;
    animation-duration: 0.4s;
    pointer-events: auto;
}

.rules-text.hide {
    animation-name: modal-out;
    animation-duration: 0.4s;
    pointer-events: none;
}

.rules-text h3 {
    padding: 25px 25px 0 25px;
    margin: 0;
}

.rules-text ul {
    list-style-type: none;
    padding: 25px;
    margin: 0px;
}
