body {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
}

.grid-container {
    max-width: 900px;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr auto auto auto;
    grid-template-areas:
        'header header header header'
        'menu menu menu menu'
        'score score score score'
        'choices messages messages messages';
    grid-auto-rows: 1fr;
}

.banner {
    grid-area: header;
    background-image: url(images/banner.png);
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    grid-area: menu;
}

.score {
    grid-area: score;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin: 0.5em;
    font-size: 48px;
}

.playerChoice {
    grid-area: choices;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
} 

.choiceButton {
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
}

.choiceButton span {
    font-style: normal;
}

.messages {
    grid-area: messages;
    margin-left: 2em;
    text-align: left;
}